
	    <!-- 왼쪽 Sidebar start -->
	    <div th:fragment="sidebarFragment" class="bg-light border-right" id="sidebar-wrapper">
	        <div class="sidebar-heading">Start Bootstrap </div>
	        <div class="list-group list-group-flush">
	            <a href="#" th:href="@{/group/Grouplist}" class="list-group-item list-group-item-action bg-light">
					모임(Group)
				</a>
	            <a href="#" th:href="@{/board/Boardlist}" class="list-group-item list-group-item-action bg-light">
					게시판(Board)
				</a>
	            <a href="#" class="list-group-item list-group-item-action bg-light">고객센터</a>
	        </div>
	    </div>
	    <!-- sidebar-end -->
	