<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/groupMainHeader.css">
<style>
		body {
			font-family: 'Noto Sans KR', sans-serif;
		}
</style>
</head>
<body>
	<div th:replace="~{etc/groupMainHeader::header}"></div>
	<h1 style="text-align: center;"> 사진첩 입니다. </h1>
</body>
</html>