body {
	font-family: 'Noto Sans KR', sans-serif;
}
.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.chat-room {
 display: flex;
 flex-direction: column;
 width: 55%;
 border: 1px solid #ccc;
 overflow: auto;
 height: 60vh;
}

.chat-messages {
	padding: 10px;
}

.message {
	margin-bottom: 10px;
}

.sender {
 font-weight: bold;
 font-size: 1.3rem;
 margin-left: 10px;
 margin-top: 20px;
}

.content {
 margin-left: 30px;
 margin-top: 5px;
 font-size: 1.2rem;
}

.chat-input {
 padding: 20px;
 background-color: #f5f5f5;
 flex: 1;
 justify-content: center;
 height: 100px;
 display: flex;
 flex-wrap: nowrap;
}

textarea {
 width: 85%;
 height: 30px;
 padding: 5px;
 margin-right: 35px;
 font-size: 16px;
 resize: none;
 white-space: pre; /* 연속한 공백 입력 값을 유지시켜줌 */
}

.send-button {
 padding: 10px 15px;
 background-color: skyblue;
 border-radius: 0.35rem;
 color: #fff;
 border: none;
 cursor: pointer;
 font-size: 16px;
 white-space: nowrap;
}
.chat-messages {
	height: 55vh;
    overflow-y: scroll; /* 세로 스크롤을 표시하도록 설정 */
}
.chat-messages::-webkit-scrollbar {
	width: 8px; /* Set the width of the scrollbar */
}

.chat-messages::-webkit-scrollbar-thumb {
 background-color: rgba(0, 0, 0, 0.3); /* Set the color of the scrollbar thumb */
 border-radius: 4px; /* Apply border radius to the scrollbar thumb */
}

.chat-messages::-webkit-scrollbar-track {
	background-color: transparent; /* Set the background color of the scrollbar track to transparent */
}