@.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.title {
    color: rgba(135.00000715255737, 206.0000029206276, 235.0000011920929, 1);
    font-family: Fugaz One;
    text-align: center;
	font-size: 96px;
	text-decoration: none;
}
.loginInfo {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 30px;
}
.loginUser {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    font-family: Halant;
	text-decoration: none;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 40px;
}
.login {
	color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
	width: 227px;
	height: 37px;
    font-family: Halant;
	text-decoration: none;
	text-align: center;
	font-size: 32px;
}
.logout {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
	width: 227px;
	height: 37px;
    font-family: Halant;
	text-decoration: none;
	text-align: center;
	font-size: 32px;
}
.mypage {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
	width: 227px;
	height: 37px;
    font-family: Halant;
	text-align: center;
	text-decoration: none;
	font-size: 32px;
	margin-left: 10px;
}